Timur Shemsedinov <timur.shemsedinov@gmail.com>
Alexey Orlenko <eaglexrlnk@gmail.com>
Vlad Dziuba <dzyubavlad@gmail.com>
Ivan Timoshenko <bugagashenkj@gmail.com>
Mykola Bilochub <nbelochub@gmail.com>
Vitaliy Semenchenko <semenchenkovitaliy@gmail.com>
Denys Otrishko <shishugi@gmail.com>
Julia Gerasymenko <gerasymenko.j.ke@gmail.com>
Rumiantsev Oleksii <rumiantsev.oleksii@gmail.com>
